{{ block "index" . }}
<!DOCTYPE html>
<html>
  <head>
    <title>HTMX</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  </head>
  <body>
    {{ template "header" . }}
    <div>
      This page has been viewed <span id="count">
        {{ template "count" . }}
      </span>
      time(s). 
      <button hx-target="#count" hx-post="/count">Cheat</button>
    </div>
    {{ template "footer" . }}
  </body>
</html>
{{ end }}


{{ block "count" . }}
  {{ .Count }}
{{ end }}
