.htmx-indicator {
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  opacity:1
}
.htmx-request.htmx-indicator{
  opacity:1
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contact.htmx-swapping {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.error {
  color: red;
}

.flexy {
  display: flex;
}

.trash-icon {
  width: 1rem;
  cursor: pointer;
}

.bars {
  width: 1rem;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
}

footer.boomer {
  display: flex;
  margin-top: auto;
  height: 50px;
  padding: 30px;
  justify-content: center;
}